[all:vars]
ansible_ssh_user=vt_admin
ansible_become=true
ansible_become_method=su

keystone_username=
keystone_password=
ansible_ssh_pass=
ansible_become_pass=

[analyzer]
10.1.1.243
[analyzer:vars]
analyzer_probes=["snmp"]

[agent]
10.1.1.24[0:3]

[agent:vars]
agent_probes=["lldp"]

[agent:children]
tf_compute
ops_compute


[ops_compute]
10.1.1.233
10.1.1.234
10.1.1.236

[ops_compute:vars]
agent_probes=["lldp", "libvirt", "neutron"]


[tf_compute]
10.1.1.235
10.1.1.237
10.1.1.239

[tf_compute:vars]
agent_probes=["lldp", "libvirt", "neutron", "opencontrail"]
