agent:
  topology:
    probes:
{% for probe in agent_probes %}
      -  {{ probe }}
{% endfor %}
{% if "neutron" in agent_probes %}
    neutron:
      auth_url: http://10.60.17.231:5000
      username: admin
      password: bFFwpg0rcUuPOyocSjWyI1XJPDiWKheldbocjdiu
      tenant_name: admin
      region_name: RegionOne
      domain_name: Default
      ssl_insecure: false
{% endif %}
{% if "docker" in agent_probes %}
    docker:
      proc_mount: /host/proc
{% endif %}
analyzers:
  - 10.1.1.243:8304
logging:
  level: DEBUG
  backends:
    - file
  file:
    path: /var/log/skydive/skydive-agent.log
